@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: antiquewhite;
}

h1 {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#username {
    background-color: antiquewhite;
    border-radius: 5px;
}

#head {
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#head button{
    width: 50px;
    height: 50px;
    background-color: lightblue;
    transition: ease-in-out 0.2s;
}

#head button:hover{
    transform: scale(1.05);
}

#pfp {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#profile {
    background-color: lightblue;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2%;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

#bio {
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background: antiquewhite;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

p {
    font-family: 'Montserrat', sans-serif;
}

button {
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 190px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.dropdown-content input[type="checkbox"], 
.dropdown-content input[type="radio"]{
    margin-right: 10px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightblue;
}

#dietaryImg {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#spiceImg {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#dollarImg {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#profileOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 400px;
}

#profileOptions button{
    height: 50px;
    width: 200px;
    background-color: lightblue;
    font-size: 15px;
    transition: ease-in-out 0.3s;
}

#profileOptions button:hover{
    transform: scale(1.05);
}