@charset "UTF-8";

body {
    background: lightblue;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font: "Pacifico"
}

h2 {
    display: inline-block;
    padding: 10px;
}

p {
    padding: 10px;
}

img {
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}

#food {
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin: 10px;
}

#title {
    padding: 10px;
    display: inline-block;
}