@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background: lightblue;
}

#Options {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1000px;
}

#Options button {
    height: 500px;
    width: 300px;
    font-size: 20px;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Pacifico", cursive;
}

button {
    background-color: antiquewhite;
    font-family: "Pacifico", cursive;
}

#head {
    display: flex;
    align-items: center;
}
#head h1{
    font: "Pacifico";
    flex: 1;
    display: flex;
    align-items: center;
}

#head button {
    width: 50px;
    height: 50px;
    margin-left: auto;
}

#pfp {
    border-radius: 50%;
}

#profile {
    align-items: center;
    text-align: center;
    justify-content: center;
}

#bio {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }